extends layout

block header
  
block content
  // - var user = req.user
  .container-fluid
    .profilebox
      .panel.panel-info
        .panel-heading
          h3.panel-title Welcome, #{user.firstName}!
        .panel-body
          .row(style="max-height:280px;")
            .col-md-4.col-lg-3(align='center')
              // img.profilepic.img-circle.img-responsive(style="width:auto; float:left", alt='User Pic', src='../css/img/driverPic.png')
              img.profilepic.img-circle.img-responsive(alt='User Pic', src='https://thumbs.dreamstime.com/b/man-recycle-bin-trash-can-young-asian-carrying-recycling-smiling-holding-recycling-standing-near-concept-waste-90674538.jpg')
            .col-md-8.col-lg-9
              table.table.table-user-information
                tbody
                  tr
                    td #[b First Name:]
                    td= user.firstName
                  tr
                    td #[b Last Name:]
                    td= user.lastName
                  tr
                    td #[b E-mail Address:]
                    td= user.email
                  tr
                  tr
                    td #[b User Type:]
                    td= user.userType.charAt(0).toUpperCase() + user.userType.slice(1)
                  tr
                  tr
                    td #[b Password:]
                    td= user.password
              a.btn.btn-success.mx-2(href='/register/driverUI') Home
              a.btn.btn-success.mx-2(href='/logout') Logout
