extends layout

block content
    .navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-full
      a.navbar-brand(href='/home')
        img(src='/css/img/recyclelogo.png', width='35', height='35', alt='GnC')

      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          if (user.userType === 'client')
            li.nav-item
              a.nav-link(href='/pickup') Pick Up
          else
            li.nav-item
              a.nav-link(href='/recyclables') Recyclables
          li.nav-item
            a.nav-link(href='/register/profile') Profile
          li.nav-item
            a.nav-link(href='/mapui/list') My List
          li.nav-item
            a.nav-link(href='/logout') Logout

    div
      if (location.Latitude)
        p location latitude found
        - v1 = location.Latitude
        - v2 = location.Longitude
        p= v1
      else
        p location not found
        - v1 = 44.69254300000001
        - v2 = -73.46696199999997
        p= v1
      form(method='POST', action='/register/mapui')
        label(for='address') Address:
        input(type='text', id='address', name='address') 
        button(type='submit') Ping location

    .mapbox
      #map
        
      script.
        var map;
        var superchargers = [
          {
            location: 'Tejon Ranch',
            latitude: 34.98661,
            longitude: -118.94630
          }
        ];

        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            //if (location !== undefined)
              //center: { lat: #{location.Latitude}, lng: #{location.Longitude} },
            //else
            //center: { lat: 44.69254300000001, lng: -73.46696199999997 },
              center: { lat: #{v1}, lng: #{v2} },
            zoom: 16
          });
        }

      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCrqfaam7V-4NH0SBi8LUcJRzMtaGl28Y4&callback=initMap')
