extends layout

block header
  
block content
  // - var user = req.user
  .container-fluid
    .profilebox
      .panel.panel-info
        .panel-heading
          h3.panel-title Welcome, #{user.first_name}!
        .panel-body
          .row
            .col-md-4.col-lg-3(align='center')
              img.profilepic.img-circle.img-responsive(alt='User Pic', src='https://i.pinimg.com/originals/7a/36/7d/7a367dc0017ddb08a150071aedeb30f5.png')
            .col-md-8.col-lg-9
              table.table.table-user-information
                tbody
                  tr
                    td First Name:
                    td= user.firstName
                  tr
                    td Last Name:
                    td= user.lastName
                  tr
                    td E-mail:
                    td= user.email
                  tr
                  tr
                    td User Type:
                    td= user.userType
                  tr
                  tr
                    td Password:
                    td= user.password
              if (user.userType === 'client')
                a.btn.btn-primary.mx-2(href='/dropoff') Dropoff
              else
                a.btn.btn-primary.mx-2(href='/pickup') Pickup
              
              a.btn.btn-primary.mx-2(href='/register/mapui') Map UI
              a.btn.btn-primary.mx-2(href='/logout') Logout
